<body>
    <h1>HackHub</h1>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand">Menu</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a (click)="viewHome()" class="nav-link active" aria-current="page">Home</a>
                    </li>
                    @if (!auth.isLoggedIn()) {
                    <li class="nav-item">
                        <a (click)="viewLogin()" class="nav-link active" aria-current="page">Accedi</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/']" class="nav-link active" aria-current="page">Registrati</a>
                    </li>
                    }
                    @if (auth.isLoggedIn()) {
                    <li class="nav-item">
                        <a (click)="viewDashboard()" class="nav-link active" aria-current="page">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link disabled">{{ auth.user()?.email }}</span>
                    </li>
                    <li class="nav-item">
                        <a (click)="logout()" class="nav-link text-danger" aria-current="page">Logout</a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    @if (activePage==='HOME') {
    <app-grid-list></app-grid-list>
    }
    @if (activePage==='DASHBOARD') {
    <app-dashboard></app-dashboard>
    }
    @if (activePage==='LOGIN') {
    <app-login></app-login>
    }
    <router-outlet></router-outlet>
</body>