.card {
    background-color: transparent;
    border: transparent;
    margin: 20px;
}
.multiline-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
}

@media (max-width: 600px) {
  .multiline-ellipsis {
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
}
